* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}
main>.container {
    padding: 30px 0;
}
.Contacto {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Contacto-text span {
    color: var(--main-color);
    font-weight: 500;
}
.Contacto-text h2 {
    font-size: var(--h2-font);
}
.Contacto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
}
.Contacto-box h3 {
    margin-bottom: 1rem;
}
.social {
    display: flex;
    margin-top: 1.5rem;
}
.social i {
    font-size: 20px;
    margin-right: 1rem;
    color: var(--text-color);
}
  .social i:hover {
    color: var(--main-color);
}
.contact-box li a {
    color: var(--text-color);
}
.Contacto-box li a:hover {
    color: var(--main-color);
}
.address {
    display: flex;
    flex-direction: column;
}
.address i {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}
.address span {
    margin-left: 1rem;
}
.copyright {
    padding: 20px;
    text-align: center;
}
@media (max-width: 515px) {
    .Contacto {
      flex-direction: column;
    }
    .Contacto .btn {
      margin-top: 1rem;
    }
  }